<div class="mb-5 mt-5">
    <hr>
    <div class="mb-3 mt-3 d-flex row">
        <div class="col-md col-sm-12">
            <p>SirBisgaard.dk</p>
            <p>Fra at fange naturens vidundere til at omfavne de elegante linjer i smukke køretøjer, er min konstante fascination at skabe billeder, der fortæller en unik historie.</p>
        </div>
        <div class="col-md col-sm-12">
            <p class="text-center">Menu</p>
            <nav class="nav flex-column">
                <NavLink ActiveClass="active" class="nav-link text-center" href="" Match="NavLinkMatch.All">
                    <span>Forside</span>
                </NavLink>
                <NavLink ActiveClass="active" class="nav-link text-center" href="contact" Match="NavLinkMatch.All">
                    <span>Kontakt</span>
                </NavLink>
                <NavLink ActiveClass="active" class="nav-link text-center" href="private" Match="NavLinkMatch.All">
                    <span>Privatlivspolitik</span>
                </NavLink>
            </nav>
        </div>
        <div class="col-md col-sm-12">
            <p class="text-center">Sociale Medier</p>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <p class="text-secondary fs-6">Copyright @DateTime.Now.Year | Sir Bisgaard </p>
    </div>
</div>

