<div class="d-flex justify-content-center mt-5 mb-5">
    <div class="row-xs">
        <div class="col-xs-12 d-sm-inline-block">
            <img id="pageheaderLogo" src="/images/logo.png" alt="Bisgaards Våbenskjold" />
        </div>
        <div class="col-xs-12 mt-xs-5 d-sm-inline-block ms-sm-3 align-middle">
            <p class="title">Sir Bisgaard</p>
            <p>At fange livets øjeblikke gennem kameraet</p>
        </div>
    </div>
</div>