<div class="mb-5 mt-5">
    <hr>
    <div class="d-flex justify-content-center">
        <div class="nav">
            <NavLink ActiveClass="active" class="nav-link me-4" href="" Match="NavLinkMatch.All">
                <span>Forside</span>
            </NavLink>
            <NavLink ActiveClass="active" class="nav-link me-4" href="blog" Match="NavLinkMatch.All">
                <span>Blog</span>
            </NavLink>
            <NavLink ActiveClass="active" class="nav-link me-4" href="portfolio" Match="NavLinkMatch.All">
                <span>Portefølje</span>
            </NavLink>
            <NavLink ActiveClass="active" class="nav-link me-4" href="contact" Match="NavLinkMatch.All">
                <span>Kontakt</span>
            </NavLink>
            <NavLink ActiveClass="active" class="nav-link me-4" href="about" Match="NavLinkMatch.All">
                <span>Om Mig</span>
            </NavLink>
        </div>
    </div>
    <hr>
</div>

