@rendermode InteractiveServer

<div class="mb-5 mt-5">
    <hr>
    <div class="mb-3 mt-3 d-flex row">
        <div class="col-md col-sm-12">
            <p>SirBisgaard.dk</p>
            <p>Fra at fange naturens vidundere til at omfavne de elegante linjer i smukke køretøjer, er min konstante fascination at skabe billeder, der fortæller en unik historie.</p>
        </div>
        <div class="col-md col-sm-12">
            <p>Menu</p>

        </div>
        <div class="col-md col-sm-12">
            <p>Sociale Medier</p>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <p class="text-secondary fs-6">Copyright @DateTime.Now.Year | Sir Bisgaard </p>
    </div>
</div>

