@page "/about"

<PageTitle>Sir Bisgaard - Om Mig</PageTitle>

<PageCover Title="Om Mig"></PageCover>

<div>
	<h1>Hejsa, jeg er Martin</h1>
	<p>Jeg er en fotograf og
		softwareudvikler i mine tidlige 30’ere, der i øjeblikket kalder Svendborg mit hjem. Men min rejse begyndte på
		Amager, hvor jeg voksede op. Siden da har jeg boet og udforsket forskellige dele af Danmark, indtil jeg fandt
		kærligheden og nu er forlovet.</p>


	<h2>Min Professionelle Baggrund</h2>
	<p>Jeg jonglerer mellem to verdener
		– som senior software developer hos FTZ og som lidenskabelig fotograf. Jeg har tre uddannelser inden for
		softwareudvikling, herunder en bachelorgrad, datamatiker og webintegrator. Den tekniske forståelse og kreativ
		tænkning fra min softwarebaggrund går hånd i hånd med min passion for fotografi.</p>


	<h2>Min Fotografiske Stil</h2>
	<p>Mit hjerte banker for den
		eksperimentelle side af fotografi. Jeg elsker at udforske nye måder at formidle historier gennem mine billeder,
		og jeg tøver ikke med at lege med farver for at skabe et unikt vintage-udtryk. Min fotografiske stil er en
		refleksion af min nysgerrighed og dristighed.</p>

	<p><b>Billede Galleri af 4 billeder </b></p>
	
	<p>Mit fotografiske repertoire spænder bredt, men en stor del af min
		lidenskab centrerer sig om billeder af biler og naturen. Jeg har haft fornøjelsen af at dokumentere de
		imponerende detaljer i bilverdenen og naturens skønhed. Udover det finder du også portrætbilleder, dækning af
		events og meget mere i mit portefølje.</p>


	<div class="d-flex justify-content-center">
		<button type="button" btn-lg class="btn btn-lg btn-danger"><strong>Portefølje</strong></button>
	</div>

	<h2>Deling af Nye Oplevelser</h2>
	<p>Ud over at fotografere og
		udtrykke mig gennem mine billeder elsker jeg også at opdage nye steder og oplevelser. Min glæde ved at
		udforske og dokumentere disse skatte går hånd i hånd med min lidenskab for fotografi. Jeg mener, at
		deling er nøglen til at inspirere andre, og jeg ønsker at motivere folk til at træde ud af deres
		komfortzone, udforske verden og skabe deres egne minder. Gennem mine billeder og historier håber jeg, at
		folk i stuerne kan finde den nødvendige motivation til at tage ud og opleve verden på deres egen
		måde.</p>


	<h3>Mine personlige interesser</h3>
	<p>Kan beskrives med få ord:
		Fotografering, naturen, biler og min tjeneste i Hjemmeværnet. Fotografi er ikke kun min passion, det er
		også en livsstil, der fletter sig sammen med mine andre interesser. Jeg bærer altid mit kamera med mig
		for at dokumentere hverdagens skønhed og de utrolige øjeblikke. Jeg tror på, at livet er fyldt med
		skatte, der venter på at blive opdaget, og jeg er fast besluttet på at fange dem med mit kamera og dele
		dem med verden.</p>

	<p><b>Billede af mig selv</b></p>

	<p>Lad
		mig tage dig med på min rejse gennem objektiverne, og hvis du ønsker at diskutere fotografering, booke en
		session eller bare chatte om fælles interesser, er jeg kun et klik væk. Du kan kontakte mig via knappen eller
		følge mine eventyr på mine sociale medier</p>

	<div class="d-flex justify-content-center">
		<button type="button" class="btn btn-lg btn-danger"><strong>Kontakt Mig</strong></button>
	</div>
</div>
