@page "/"

<PageTitle>Sir Bisgaard</PageTitle>

<PageCover Title="Velkommen til min side!"></PageCover>

<p class="text-center">Mit fotografiske repertoire spænder bredt, men en stor del af min lidenskab centrerer sig om billeder af biler og naturen.</p>
<p class="text-center">Jeg har haft fornøjelsen af at dokumentere de imponerende detaljer i bilverdenen og naturens skønhed. Udover det finder du også portrætbilleder, dækning af events og meget mere i mit portefølje.</p>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-lg btn-danger"><strong>Kontakt Mig</strong></button>
</div>