// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$font-family-sans-serif: 'Times', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: 'Times', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: 'Times', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$body-secondary-bg: $gray-800;

@import "../node_modules/bootstrap/scss/bootstrap";



// Custom font face for Times
@font-face {
  font-family: 'Times';
  src: url('../fonts/times.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Apply Times font globally
body {
  font-family: 'Times', serif;
}

// Apply to all elements
* {
  font-family: 'Times', serif;
}